.ant-message-notice-content {
  background-color: rgba(48, 56, 88, 0.85);
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  box-shadow: none;

  // 隐藏样式
  .anticon {
    display: none;
  }
}
